# This is dummy account instagram
# no longer used, just for instaloader
INSTAGRAM_USERNAME=
INSTAGRAM_PASSWORD=

# Go to https://apify.com/scrapesmith/instagram-comments-scraper/input-schema for API Client and Actor
# Then get token on https://console.apify.com/settings/integrations
APIFY_TOKEN=apify_api_LctQPAd8secret